<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        /* card style reference: https://codepen.io/derekmorash/pen/NjBvdX */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Noto Sans', sans-serif;
            color: #977F98;
        }

        html,
        body {
            margin: 0;
            width: 100%;
            height: min-content;
            line-height: 32px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        h1 {
            text-align: center;
            padding: 25px;
        }

        #card-list {
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            list-style: none;
            flex-wrap: wrap;
        }

        .card {
            width: 90%;
            max-width: 20rem;
            min-width: min-content;
            margin: 1rem;
            padding: 25px;
            text-align: justify;
            align-items: stretch;
            box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
            border-radius: 22px;
            background-color: #fff;
        }

        .whitespace {
            height: 82px;
            width: 100%;
        }

        .nav-container {
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;

            display: flex;
            justify-content: center;

            background-color: #FFAE86;
            box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
        }

        .navbar {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .nav-title {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-bt {
            display: flex;
            justify-content: flex-end;
        }

        .nav_button {
            width: fit-content;
            margin-left: 20px;
            padding: 0px 5px;

            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .nav_button:hover {
            background-color: #977F98;
        }
    </style>
    <title>Notes: Card View</title>
</head>

<body>
    <div class="nav-container">
        <div class="navbar">
            <div class="nav-title">LAB 4</div>
            <div class="nav-bt">
                <a href="add-note" class="nav_button">New Notes</a>
                <a href="/lab-4" class="nav_button">Table View</a>
                <a href="note-list" class="nav_button">Card View</a>
            </div>
        </div>
    </div>
    
    <h1>Notes</h1>
    <ul id="card-list">
        {% if notes %}
        {%for note in notes %}
        <li class="card">
            <p><strong>To: </strong> {{ note.to }}</p>
            <p><strong>From: </strong> {{ note.fr }}</p>
            <p><strong>Title: </strong> {{ note.title }}</p>
            <p><strong>Message: </strong> {{ note.message }}</p>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</body>

</html>