<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            font-family: 'Noto Sans', sans-serif;
            color: #977F98;
        }

        html,
        body {
            margin: 0;
            width: 100%;
            height: min-content;
            line-height: 32px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        #main-wrapper {
            height: 80vh;  /*vh: viewport height*/
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        #main {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          list-style: none;
          flex-wrap: wrap;

          text-align: center;
  
          padding: 25px;
          width: 100%;
          max-width: 460px;
          box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
          border-radius: 22px;
  
          background-color: #fff;
        }

        h1 {
            font-weight: bold;
            padding: 5px;
        }

        #to_fr_div {
            display: flex;
            justify-content: space-between;
            column-gap: 5px;
        }

        .to_fr {
            flex: 1;
        }

        .whitespace {
            height: 5px;
        }

        .submit_bt {
            background-color: #FFAE86;
            color: #fff;
            font-weight: bold;
            border-radius: 10px;
            border: #fff;
            padding: 5px;
        }

        .submit_bt:hover {
            background-color: #977F98;
        }

        .nav-container {
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;

            display: flex;
            justify-content: center;

            background-color: #FFAE86;
            box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
        }

        .navbar {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .nav-title {
            width: fit-content;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-bt {
            width: fit-content;
            display: flex;
            justify-content: flex-end;
        }

        .nav_button {
            width: fit-content;
            margin-left: 20px;
            padding: 0px 5px;

            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .nav_button:hover {
            background-color: #977F98;
        }
    </style>
    <title>Note Form</title>
</head>

<body>
    <div class="nav-container">
        <div class="navbar">
            <div class="nav-title">LAB 4</div>
            <div class="nav-bt">
                <a href="add-note" class="nav_button">New Notes</a>
                <a href="/lab-4" class="nav_button">Table View</a>
                <a href="note-list" class="nav_button">Card View</a>
            </div>
        </div>
    </div>

    <div id="main-wrapper">
        <div id="main">
            <h1>Add New Note</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {{ form.source.errors }}
                {{ form.source }}

                <div id="to_fr_div">
                    <p class="to_fr">
                        {{ form.to.errors }}
                        {{ form.to }}
                    </p>
                    <p class="to_fr">
                        {{ form.fr.errors }}
                        {{ form.fr }}
                    </p>
                </div>
                <p>
                    {{ form.title.errors }}
                    {{ form.title }}
                </p>
                <div class="whitespace"></div>
                <p>
                    {{ form.message.errors }}
                    {{ form.message }}
                </p>
                <input class="submit_bt" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>