<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Noto Sans', sans-serif;
            color: #977F98;
        }

        html,
        body {
            margin: 0;
            width: 100%;
            height: min-content;
            line-height: 32px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
          
        }

        #main-wrapper {
            min-height: 80vh;
            padding-top: 25px;
            padding-bottom: 25px;
            display: flex;
            align-items: center;
            position: relative;
        }

        #main {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            padding: 25px;
            width: 100%;
            min-width: min-content;
            max-width: max-content;
            box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
            border-radius: 22px;
    
            background-color: #fff;
        }

        h1 {
            width: 100%;
            text-align: center;
            padding: 20px;
        }

        th, td {
            padding: 10px;
            text-align: justify;
            border: #fff;
            border-bottom: #977F98;
            border-style: solid;
        }

        .to, .fr {
            width: 100px;
        }

        .title {
            width: 160px;
        }

        .message {
            width: 300px;
        }

        .nav-container {
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;

            display: flex;
            justify-content: center;

            background-color: #FFAE86;
            box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
        }

        .navbar {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .nav-title {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-bt {
            display: flex;
            justify-content: flex-end;
        }

        .nav_button {
            width: fit-content;
            margin-left: 20px;
            padding: 0px 5px;

            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .nav_button:hover {
            background-color: #977F98;
        }
      </style>
    <title>Notes: Table View</title>
</head>

<body>
    <!--Show Note model in card format-->
    <!--Implement navigation bar on every page to access the pages-->
    <div class="nav-container">
        <div class="navbar">
            <div class="nav-title">LAB 4</div>
            <div class="nav-bt">
                <a href="add-note" class="nav_button">New Notes</a>
                <a href="/lab-4" class="nav_button">Table View</a>
                <a href="note-list" class="nav_button">Card View</a>
            </div>
        </div>
    </div>

    <div id="main-wrapper">
        <div id="main">
            <h1>Notes</h1>
            <table>
                <tr>
                    <th class="to">To</th>
                    <th class="fr">From</th>
                    <th class="title">Title</th>
                    <th class="message">Message</th>
                </tr>
                {% if notes %}
                {%for note in notes %}
                <tr>
                    <td class="to">{{ note.to }}</td>
                    <td class="fr">{{ note.fr }}</td>
                    <td class="title">{{ note.title }}</td>  
                    <td class="message">{{ note.message }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</body>

</html>