<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Form</title>
</head>
<body>
    <h1>Add new friend</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }} <!-- renders the form fields using <p> tags -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>